/*************************************************************************
 * Your custom CSS file
 *************************************************************************/
.front_page h2,
a {
  color: rgba(0, 187, 255, 0.647);
}

.text {
  font-style: italic;
  color: black;
}

.banner {
  background-color: rgb(106, 0, 255);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: white 36, 36);
  font-family: 'Times New Roman', Times, serif;
  left: 0;
  right: 0;
  width: auto;
}

.custom-textbox {
  width: 240px;
}

#dialog-1,
#dialog-2,
#dialog-3,
#dialog-4,
#share-dialog {
  display: none;
}

#share-url {
  width: 100%;
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

#share-url-copy-prompt {
  display: none;
  color: #007bff;
}